body {
    font-family: 'Raleway', sans-serif;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 254, 245);
    margin-top: 4%;

}

h1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: rgb(249, 141, 159);
    margin-bottom: 54px;

}


/* input section */
.input{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* input box */
#idea{
    padding: 8px 12px;
    width: 50%;
    background-color: rgb(255, 254, 245);
    border:2px solid rgb(249, 141, 159);
    border-radius: 6px;
    
}

#idea:focus {
    background-color: #fff;
    border: 2px solid rgb(255, 187, 198);

}

/* add button */
#add{
    background-color: rgb(255, 254, 245);
    border: 2px solid rgb(249, 141, 159);
    color: rgb(249, 141, 159);
    padding: 6px 24px;
    text-decoration: none;
    border-radius: 30px;
    margin-left: 24px;

}

#add:hover {
    background-color: rgb(249, 141, 159);
    color:rgb(255, 254, 245);
}


/* list */
ol{
    background-color: rgb(255, 219, 230);
    padding: 36px;
    border-radius: 10px;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}


li{
    line-height: 16px;
    margin-bottom: 18px;
    color:rgb(45, 45, 45);
    margin-right: 20px;
}


/* delete button */
.delete{
    /* position: absolute; */
    float: right;
    right:12%;
    background-color: rgb(255, 254, 245);
    border: 2px solid rgb(249, 141, 159);
    color: rgb(249, 141, 159);
    padding: 3px 12px;
    text-decoration: none;
    border-radius: 30px;
    margin-bottom: 6px;
    font-size: 12px;

}

.todo{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.delete:hover {
    background-color: rgb(249, 141, 159);
    color:rgb(255, 254, 245);
}


/* check box */
.boxes{
    background-color: rgb(255, 239, 199);
    border: 2px solid rgb(249, 141, 159);
    float: left;
    display: inline;
    margin-right: 12px;  
}
.boxes input:checked ~ .checkmark {
    /* appearance: none; */
    background-color: aqua;
    border-radius: 2px solid rgb(218, 82, 104);
}


@media (min-width: 375px)and (max-width: 425px) {
    body {
        top: 8%;
    }

    li {
        font-size: 10px;
    }
    
    ol {
        padding: 36px;
        float: left;
        width: 60%;
    }

    #idea {
        width: 60%;
        padding: 8px 8px;
        font-size: 8px;
    }

    #add {
        font-size: 10px;
        margin-left: 5%;
    }


    h1 {
        margin-top:12%;
    }
}



